<h2>Sign in with</h2>
<div class="provider-list form-horizontal">  
  <ul class="form-actions">
    <li><a href="<%=user_omniauth_authorize_path(:google_oauth2) %>" class="google-icon btn btn-large"><i class="icon-google-plus-sign"></i> Google</a></li>
    <li><a href="<%= user_omniauth_authorize_path(:twitter) %>" class="twitter-icon btn btn-large"><i class="icon-twitter-sign"></i> Twitter</a></li>
  </ul>
</div>